<h1>My Orders</h1>

<table>
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Status</th>
      <th>Subtotal</th>
      <th>Taxes</th>
      <th>Total</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.order_status %></td> <!-- Update here -->
        <td><%= number_to_currency(order.subtotal) %></td>
        <td><%= number_to_currency(order.calculate_taxes) %></td>
        <td><%= number_to_currency(order.total) %></td>
        <td><%= link_to 'View', order_path(order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
