<h1><%= @product.name %></h1>
<p><%= @product.description %></p>
<p>Price: <%= @product.price %></p>
<p>Stock Quantity: <%= @product.stock_quantity %></p>
<p>Category: <%= @product.category.name %></p>
<% if @product.images.attached? %>
  <div>
    <% @product.images.each do |image| %>
      <%= image_tag url_for(image) %>
    <% end %>
  </div>
<% end %>
